name: Deploy index.html

on:
  push: 
    branches:
      - master

env:
  AZURE_WEBAPP_NAME: demowebapproshni1
  AZURE_WEBAPP_PATH: '.'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@master

      - name: Login via Azure CLI
        uses: azure/login@v1
        with: 
          creds: ${{secrets.AZURE_CREDENTIALS}}

      - name: Set Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Install dependencies
        run: npm ci    

      - name: build
        run: |
          npm run build --if-present

      - name: Deploy to App Service
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{env.AZURE_WEBAPP_NAME}}  
          package: '${{env.AZURE_WEBAPP_PATH}}/myapp'      
